extends base
block content
    //- h1(style='color:blue;text-align:center;') This is a heading
    main.main(style='padding:3.5rem 6rem')
        .login-form(style='padding:2.5rem 7rem')
            h2.heading-secondary.ma-bt-lg Sign up
            form.form.form--signup
                .form__group
                    label.form__label(for='email') Email address
                    input#emailSignUP.form__input_re(readonly type='email', required)
                .form__group
                    label.form__label(for='name') Full name
                    input#name.form__input.nameSignup(type='text', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')    
                .form__group
                    button.btn.btn--green Sign up